<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Для бизнеса - Nekich Search</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

    <div class="subpage-header">
        <a href="/">
            <img src="/static/images/srpr/logo11w.png" width="120" height="44" alt="Google" style="border:0; vertical-align: middle;">
        </a>
        <span class="subpage-header-title">Для бизнеса</span>
    </div>

    <div class="subpage-container">
        <div class="content-card">
            <h1 class="content-heading">Решения для бизнеса и рекламодателей</h1>
            
            <p style="font-size: 14px; line-height: 1.6;">
                Хотите продвигать свой ретро-проект, сайт, радиостанцию или приложение в поиске Nekich Search?
            </p>
            
            <p style="font-size: 14px; line-height: 1.6;">
                Перейдите в раздел <a href="/advertising"><b>Реклама</b></a> или свяжитесь с нами по почте: <a href="mailto:nekxd@bk.ru">nekxd@bk.ru</a>.
            </p>

            <div style="margin-top: 30px;">
                <a href="/" class="btn" style="text-decoration:none; display:inline-block; line-height:36px; color:#444;">&larr; На главную</a>
            </div>
        </div>
    </div>

    <div class="hp-footer" style="position:relative; margin-top:60px;">
        <div class="hp-footer-content">
            <div class="fl">
                <a href="/about">О компании</a>
                <a href="/advertising">Реклама</a>
                <a href="/settings">Настройки</a>
            </div>
            <div class="fr">
                <a href="/privacy">Конфиденциальность</a>
                <a href="/terms">Условия</a>
                <span style="margin-left: 12px;">Nekich Search &copy; {{ copyright_years }}</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</body>
</html>
